<app-popup-v *ngIf="popupService.mostrar"></app-popup-v>
  <footer class="bg-black text-light py-3 mt-auto container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 text-light text-center font">
            <span>Fidelity card 2024 - Todos los derechos reservados | <b class="version-info" (click)="onInfoTouch()">V. 1.2 Beta</b></span>
            <div class="">
                <a href="/privacy-policy" class="text-info mx-1">Política de Privacidad</a>
                <a href="/cookies-policy" class="text-info mx-1">Política de Cookies</a>
              </div>
            </div>           
    </div>
   
  </footer>