body{
/*     background-color: #171717;
    background-image:   url("../../../../assets/imagenes/backgroundCard.png");
  
    
   background-position: center;
    background-repeat: no-repeat; */
    width: 100%;

    display: flex;
}

h2{
    font-family: "Sil";
}

.upload{
    height: 100vh;
}

.card-w{
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.175);
    margin: 1rem 1rem 1rem 1rem;
    height: 12rem;
    background-color: #00000066;
}

.card-wc{
    border-radius: 25px;
    /* border: 2px solid white; */
    margin: 1rem 1rem 1rem 1rem;
    background-color: #00000066;
   /*  background-image: url("../../../../assets/imagenes/logos/FidelityCardBackground.png");  */
    /* height: 12rem; */
}

.card-ww{
    border-radius: 25px;
    border: 2px solid #ffb74a3d;
    margin: 1rem 1rem 1rem 1rem;
    height: 12rem;
    background-color: #00000066;
}

.card-w-in{
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.circle {
    margin: 2px;
    width: 26px;
    height: 26px;
    border: 1.3px dashed #ffffff;
    border-radius: 50%;
  }
  
  .filled {
    background-color: #ffffff;
    border: 1px solid #ffffff;
  }
  

  @media (max-width: 400px) { 
    
    .circle {
        margin: 2px;
        width: 23px;
        height: 23px;
        border: 1.2px dashed #ffffff;
        border-radius: 50%;
      }
   
  }