<body class="d-flex align-items-center">
    <div class="container-fluid">
        <div class="row justify-content-center text-white">
            <div class="col pt-5">
                <h2 class="text-center text-white custom-shadow">TARJETAS</h2> 
                <div class="row justify-content-center">
                    <div class="col-10 col-sm-6 col-md-3 card-w d-flex align-items-center text-center ">

                        <div class="container-fluid card-w-in">
                            <img src="../../../../assets/imagenes/cards/cafe.png" class="pb-5" alt="">
                        </div>

                        <div class="container-fluid card-w-in">
                            <h3 class="pb-4">Coffee card</h3>   
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-10 col-sm-6 col-md-3 card-ww d-flex align-items-center text-center ">
    
                            <div class="container-fluid card-w-in">
                                <img src="../../../../assets/imagenes/cards/breackfast.png" class="pb-4" alt="">
                            </div>
    
                            <div class="container-fluid card-w-in">
                                <h3 class="pb-4">Coffee card</h3>   
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-10 col-sm-6 col-md-3 card-w d-flex align-items-center text-center ">
    
                            <div class="container-fluid card-w-in">
                                <img src="../../../../assets/imagenes/cards/menu.png" class="pb-4" alt="">
                            </div>
    
                            <div class="container-fluid card-w-in">
                                <h3 class="pb-4">Coffee card</h3>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
