body{
    background-color: #171717;
    background-image:   url("../../../../assets/imagenes/backgroundCard.png");
  
    
   background-position: center;
    background-repeat: no-repeat;
    width: 100%;

    display: flex;



}

.upload{
    height: 100vh;
}

.card-w{
    border-radius: 25px;
    border: 2px solid white;
    margin: 1rem 1rem 1rem 1rem;
    height: 12rem;
}

.card-wc{
    border-radius: 25px;
    border: 2px solid white;
    margin: 1rem 1rem 1rem 1rem;
    /* height: 12rem; */
}

.card-ww{
    border-radius: 25px;
    border: 2px solid #FFB64A;
    margin: 1rem 1rem 1rem 1rem;
    height: 12rem;
}

.card-w-in{
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.circle {
    margin: 2px;
    width: 23px;
    height: 23px;
    border: 1px solid #DDAA45;
    border-radius: 50%;
  }
  
  .filled {
    background-color: #DDAA45;
  }
  