body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  min-height: 100vh;
  
}

.container {
  max-width: 800px;
}

.qr-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.qr-container .col-3 {
  text-align: center;
}

.qr-container h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.qr-container p {
  font-size: 12px;
  margin-top: 5px;
}

.qr-container .url {
  font-size: 12px;
  color: lightblue;
  text-decoration: none;
}
