<app-header></app-header>
<body class="">
    
   <!--  <header class="bg-black text-white text-center py-4">
        <h1>TuApp - Fidelización de Clientes</h1>
        <p>¡Gana recompensas en tus locales favoritos con cada compra!</p>
      </header> -->
      

    <section class="bg-black text-white text-center container-fluid section-hero row justify-content-center align-items-center">
        <div class=" col-12">
          <h2 style="font-family: 'OpenSans';">Bienvenido a <b>Fidelity</b></h2>
          <div class="">

              <app-spline-viewr-card></app-spline-viewr-card>
            </div>
          <p>Descubre cómo puedes ganar recompensas en tus comercios preferidos.</p>
        </div>
        <div class="col-12 text-center justify-content-center align-items-center mt-2">
          <div>            
            <button class="btn btn-light btn-md mt-3" (click)="accion()">Comienza Ahora</button>

            </div>
        </div>
      </section>

      <div>
        <app-chart></app-chart>
      </div>

      <section class="bg-black container-fluid text-white py-5">
        <div class="">
          <h2 class="text-center">¿Cómo Funciona?</h2>
          <div class="row text-center mt-4">
            <div class="col-md-4 col-12 mt-md-0 mt-3 mb-md-0 mb-md-5">
              <img src="../../../../assets/imagenes/landing/logg.png" width="100px" alt="Registro" class="img-fluid mb-3 car">
              <h3>Regístrate</h3>
              <p>Crea tu cuenta en <b>fidelity</b> y accede a todos los comercios afiliados.</p>
            </div>
            <div class="col-md-4 col-12 mt-md-0 mt-5 mb-md-0 mb-md-5">
              <img src="../../../../assets/imagenes/landing/comercio.png" width="100px" alt="Registro" class="img-fluid mb-3 car">
              <h3>Explora Comercios</h3>
              <p>Encuentra comercios en tu zona que ofrecen recompensas.</p>
            </div>
            <div class="col-md-4 col-12 mt-md-0 mt-5 mb-md-0 mb-md-5">
              <img src="../../../../assets/imagenes/landing/recompensa.png" width="100px" alt="Registro" class="img-fluid mb-3 car">
              <h3>Gana Puntos</h3>
              <p>Acumula puntos con cada compra y canjea tus recompensas.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-black container-fluid text-white text-center py-5 mb-4">
        <div class="">
          <h2>¡Únete a la Comunidad fidelity!</h2>
          <p>Regístrate hoy y comienza a ganar recompensas en tus comercios locales favoritos.</p>
          <button class="btn btn-primary btn-md mt-3" (click)="accion()">Regístrate Gratis</button>
        </div>
      </section>

      

      <section class="bg-light container-fluid text-dark text-center pt-5">
        <img src="../../../../assets/imagenes/landing/fidelidad-local.png" width="120px" alt="Registro" class="img-fluid mb-3">
       
        
        <div class="">
          <h2 class="mt-2 mb-2">Ofrece a tus clientes una razón para regresar</h2>
          <div class="row text-center mt-4">
            <div class="col-md-4 col-12 mt-md-0 mt-5 mb-md-0 mb-md-5">
              <img src="../../../../assets/imagenes/landing/datos.png" width="100px" alt="Registro" class="img-fluid mb-3 car">
              <h3>Acceso a una Base de Datos</h3>
              <p>Accede a una base de datos de clientes potenciales interesados en tus productos y servicios. Utiliza esta información para campañas de email marketing personalizadas.</p>
            </div>
            <div class="col-md-4 col-12 mt-md-0 mt-5 mb-md-0 mb-md-5">
              <img src="../../../../assets/imagenes/landing/clientes.png" width="100px" alt="Registro" class="img-fluid mb-3 car">
              <h3>Fidelización del Cliente</h3>
              <p>Fideliza a tus clientes ofreciéndoles recompensas exclusivas por sus compras. Aumenta la lealtad del cliente y asegura que vuelvan a tu comercio.</p>
            </div>
            <div class="col-md-4 col-12 mt-md-0 mt-5 mb-md-0 mb-md-5">
              <img src="../../../../assets/imagenes/landing/felxibilidad.png" width="100px" alt="Registro" class="img-fluid mb-3 car">
              <h3>Flexibilidad en las Recompensas</h3>
              <p>Tú decides las recompensas. Ofrece productos gratuitos, descuentos o promociones especiales y observa cómo tus clientes se sienten motivados a volver.</p>
            </div>
          </div>
        </div>
        <div class="">
          <h2>¿Quieres unirte como comercio?</h2>
          <p>Regístrate, personaliza tu tarjeta y consigue mas fidelidad con tus clientes</p>
          <button class="btn btn-dark btn-md mt-2" (click)="accionComercio()">¡Únete ahora!</button>
        </div>

        <div class="row mt-5">
          <div class="col-12 mt-3">
            <h4>Ejemplo facil de uso</h4>
            <img src="../../../../assets/imagenes/landing/qr.png" alt="Registro" class="img-fluid mb-3 qr">
          </div>
        </div>

        <div class="row mt-5">
          <h4>Vistazo rapido de la app</h4>
          <div class="d-flex overflow-auto mt-2 mb-5 pb-2">
            <div *ngFor="let image of images" class="flex-shrink-0 me-3">
                <span [innerHTML]="image.titulo"></span><br>
                <img src="{{image.url}}" class="img-fluid" style="max-width: 200px;" alt="...">
            </div>
        </div>
        
        </div>
      </section>

</body>