
  body {
    background-color: #000;
    color: #fff;
  }
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  .carousel-item img {
    width: 100px;
    height: 100px;
  }

  .section-hero{
    padding-top: 3.5rem;
    padding-bottom: 6rem;
  }

  .car:hover {
    transform: scale(1.2);   
  }

