<body class="container-fluid">
    
   <!--  <header class="bg-black text-white text-center py-4">
        <h1>TuApp - Fidelización de Clientes</h1>
        <p>¡Gana recompensas en tus locales favoritos con cada compra!</p>
      </header> -->
      

    <section class="bg-black text-white text-center  section-hero row justify-content-center align-items-center">
        <div class="container col-12">
          <h2 style="font-family: 'OpenSans';">Bienvenido a Fidelity</h2>
          <div class="">

              <app-spline-viewr-card></app-spline-viewr-card>
            </div>
          <p>Descubre cómo puedes ganar recompensas en tus comercios preferidos.</p>
          <button class="btn btn-light btn-md mt-3">Comienza Ahora</button>
        </div>
        <div class="col-4 text-start justify-content-start">
            <div>
                

            </div>
        </div>
      </section>

      <section class="bg-black text-white py-5">
        <div class="container">
          <h2 class="text-center">¿Cómo Funciona?</h2>
          <div class="row text-center">
            <div class="col-md-4">
              <img src="../../../../assets/imagenes/landing/fidelity.jpeg" width="200px" alt="Registro" class="img-fluid mb-3">
              <h3>Regístrate</h3>
              <p>Crea tu cuenta en TuApp y accede a todos los comercios afiliados.</p>
            </div>
            <div class="col-md-4">
              <img src="path/to/image2.jpg" alt="Explora" class="img-fluid mb-3">
              <h3>Explora Comercios</h3>
              <p>Encuentra comercios en tu zona que ofrecen recompensas.</p>
            </div>
            <div class="col-md-4">
              <img src="path/to/image3.jpg" alt="Gana Puntos" class="img-fluid mb-3">
              <h3>Gana Puntos</h3>
              <p>Acumula puntos con cada compra y canjea tus recompensas.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-black text-white text-center py-5">
        <div class="container">
          <h2>¡Únete a la Comunidad TuApp!</h2>
          <p>Regístrate hoy y comienza a ganar recompensas en tus comercios locales favoritos.</p>
          <button class="btn btn-primary btn-lg mt-3">Regístrate Gratis</button>
        </div>
      </section>
      

</body>