<div class="container">
    <div class="container__card">
      <div class="container__title">¡Ya llevas 5 puntos! <img src="../../../../assets/imagenes/cards/regalo.png" width="22px" alt=""></div>
      <div class="container__subtitle">“¿Querés canjear un premio pequeño ahora o seguir acumulando hasta los 10?”</div>

       <div class="container__maps ">        
        <span class="fs-5"><img src="../../../../assets/imagenes/cards/reclamar.png" width="38px" alt=""></span>        
      </div> 
    </div>
  

    <div class="background" (click)="onBackgroundTouched()"></div>
  </div>
  