<div class="container">
    <div class="container__card">
      <div class="container__title">PUNTOS <img src="../../../../assets/imagenes/cards/cardqr.png" width="20px" alt=""></div>
      <div class="linea"></div>

       <div class="container__maps">
        <span class="fs-3 pt-3">Contador: <b>{{data.contador}}</b></span><br>
        <span class="fs-5">Canjes acumulados: <b>{{data.cantidad_gratis}}</b></span>        
      </div> 
    </div>
  

    <div class="background" (click)="onBackgroundTouched()"></div>
  </div>
  