body{
    background-color: #171717;
    background-image:   url("../../../../assets/imagenes/backgroundCard.png");
  
    
   background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    display: flex;

}

video {
    width: 100%; /* Establece el ancho del video al 100% del contenedor */
    max-width: 600px; /* Establece el ancho máximo del video */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    border: 2px solid white; /* Puedes agregar un borde alrededor del video para visualizar el área de escaneo */
  }