<body class="">
    <div class="container-fluid">
        <div class="row justify-content-end text-end">
            <div class="col-12">
                <button class="btn btn-black m-2" (click)="clearStorage()"><img class=" pb-1" src="../../../../assets/imagenes/cards/out.png" width="18px" alt=""></button>
            </div>
        </div>
        <div class="row text-light justify-content-center mt-1">
            <div class="col-12 text-center pb-3">
                <h3 style="text-transform: uppercase;">{{entidad.nombre}}</h3>
            </div>

            <div class="col-8 col-sm-6 col-md-3">
                <div class="admin-card text-dark">
                    <p>Usuarios activos</p>
                    <h5>{{usuarios.length}}</h5>
                </div>
            </div>

            <div class="col-8 col-sm-6 col-md-3">
                <div class="admin-card text-dark">
                    <p>Tarjetas regaladas</p>
                    <h5>{{tarjetas}}</h5>
                </div>
            </div>

            <div class="col-8 col-sm-6 col-md-3">
                <div class="admin-card text-dark">
                    <p>Usuarios de este mes</p>
                    <h5>{{nuevos}}</h5>
                </div>
            </div>

            <div class="col-12 col-sm-11 col-md-9 mt-0">
                <div class="text-center">
                    <img src="../../../../assets/imagenes/image 46.png" width="150px" alt="">
                </div>

                <div class="d-flex">
                   <button class="btn btn-outline-light fw-bold fs-5" (click)="opcion=false">Admins</button> <!-- <h4 class="mx-2">Admins</h4> -->
                   <button class="btn btn-outline-light fw-bold fs-5" (click)="opcion=true">Whatilist</button><!-- <h4 class="mx-2">Whatilist</h4> -->
                </div>
                <!-- Campo de entrada de texto para el nuevo correo electrónico -->
               <div *ngIf="!opcion">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Roles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let admin of rolesAdmins; let index = index">
                          <th scope="row">{{ index + 1 }}</th>
                          <td>{{ admin.nombre }}</td>
                          <td>{{ admin.email }}</td>
                          <td (click)="toggleSoloLectura(admin)" [ngClass]="{'editable': !admin.soloLectura, 'editableFalse': admin.soloLectura}">
                            {{ admin.soloLectura ? 'Scanner' : 'Admin' }}
                          </td>
                        </tr>
                      </tbody>
                      
                </table>

                <div [formGroup]="adminForm" class="input-group mb-3">
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                    <input type="email" class="form-control mx-1" formControlName="email" placeholder="Correo electrónico">
                    <div class="input-group-append mx-2">
                      <button class="btn btn-primary" type="button" (click)="agregarAdmin()">Agregar</button>
                    </div>
                  </div>
                </div>
                
            <table *ngIf="opcion" class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                       <!--  <th scope="col">Nombre</th> -->
                        <th scope="col">Correo</th>
                        <th scope="col">Whatilist</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let users of usuarios; let index = index">
                      <th scope="row">{{ index + 1 }}</th>
                    <!--   <td>{{ users.name }}</td> -->
                      <td>{{ users.email }}</td>
                      <td (click)="toggleWhitelist(users)" [ngClass]="{'editable': users.whitelist, 'editableFalse': !users.whitelist}">
                        {{ users.whitelist ? 'Activo' : 'Pendiente' }}
                      </td>
                    </tr>
                  </tbody>
                  
            </table>

                
                  
            </div>            

        <div class="col-12 text-center mt-2 mb-5">
            <button class="btn btn-light " (click)="scan()">ESCANER</button>
        </div>
        </div>
    </div>
</body>