<body class="bg-black">
       <div class="container-fluid">
           <div class="row justify-content-center">
               <div class="col-12 d-flex justify-content-center">
                   <div class="spline-container">
                    <spline-viewer url="https://prod.spline.design/wQISeSuQLrvv8gAR/scene.splinecode"></spline-viewer>
                       <!-- <spline-viewer url="https://prod.spline.design/OJXY17LOsyMZV-zh/scene.splinecode"></spline-viewer> -->
                   </div>
               </div>
           </div>
       </div>
</body>