<body class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
  <h2 class="pt-5 text-light text-center" style="font-family: 'OpenSans';">Registro de <b>empresas</b></h2>
</div>

<div class="col-12 col-md-6">
<form (ngSubmit)="onSubmit()" class="text-light">
    <div class="form-group pt-1">
      <label for="companyName">Nombre de la Empresa</label>
      <input type="text" id="companyName" class="form-control" [(ngModel)]="company.name" name="name" required>
    </div>
    <div class="form-group pt-1">
      <label for="contactEmail">Correo Electrónico</label>
      <input type="email" id="contactEmail" class="form-control" [(ngModel)]="company.contactEmail" name="contactEmail" required>
    </div>

    <div class="form-group pt-1">
      <label for="category">Categoría del Comercio</label>
      <select id="category" class="form-control" [(ngModel)]="company.category" name="category" required>
        <option value="restaurant">Restaurante</option>
        <option value="shop">Tienda</option>
        <!-- Agrega más categorías según sea necesario -->
      </select>
    </div> 
    
    <div class="form-group pt-1">
      <label for="address">Dirección del Comercio</label>
      <input type="text" id="address" class="form-control" [(ngModel)]="company.address" name="address" required>
    </div>
    <div class="form-group pt-1">
      <label for="description">Descripción del Comercio</label>
      <textarea id="description" class="form-control" [(ngModel)]="company.description" name="description" required></textarea>
    </div>
    <div class="form-group pt-1">
      <label for="category">Categoría del Comercio</label>
      <select id="category" class="form-control" [(ngModel)]="company.category" name="category" required>
        <option value="restaurant">Restaurante</option>
        <option value="shop">Tienda</option>
        <!-- Agrega más categorías según sea necesario -->
      </select>
    </div> 
    <div class="form-group pt-1">
      <label for="logo">Logo de la Empresa (opcional)</label>
      <input type="file" id="logo" class="form-control">
    </div>
    <div class="text-center pt-2">
      <button type="button" class="btn btn-warning">Registrarse</button>
    </div>
    
  </form>
</div>
</div>
</body>