body{
    min-height: 100vh;
    background-image: linear-gradient(rgba(11, 11, 11, 0.596), rgba(31, 31, 31, 0.568)), url("../../../../assets/imagenes/backGrounds/registro2.jpg");


    background-position: center; /* Centra la imagen en el contenedor */
  }


  .loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #181818;
    border-radius: 1rem;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    padding: 2rem 1rem 1rem 1rem;
    margin: 2rem 0;
    height: 18rem; /* Ajusta según contenido */
  }
  
  .fade-in {
    animation: fadeInUp 0.4s ease-out;
  }

  .google{
    background-color: white;
    border-radius:1rem;
    padding: 1px
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (max-width: 576px) {
    .loginContainer {
      
      height: 22rem; /* Ajusta según contenido */
    }
  }

  .googleButton {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 170px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(244 244 244);
    border: 0;
  
    font-family: montserrat-bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 9px;
    line-height: 1;
    color: rgb(150, 150, 150);
  
    margin-bottom: 1rem;
  
    animation: loadingAnimation 1s;
  }
  
  @keyframes loadingAnimation {
    0% {
      opacity: 0%;
      filter: blur(1px);
    }
    100% {
      opacity: 100%;
      filter: blur(0px);
    }
  }
  