body{
    background-color: #C9BBAB;
    font-family: "OpenSans";
}

.background-cafe{
    padding-top: 0.5rem;
    height: 110vh;

    background-image: linear-gradient(rgba(22, 22, 22, 0.775), rgba(28, 28, 28, 0.803)), url("../../../../assets/imagenes/backGrounds/piazzetta/opcion3.jpg");
    padding-top: 2rem;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Cubre todo el espacio disponible */
    background-position: center; /* Centra la imagen en el contenedor */
    color: white;
}
.background-menu{
    background-image: url("../../../../assets/imagenes/menus/menus.jpg");
    padding-top: 2rem;
    height: 105vh;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Cubre todo el espacio disponible */
    background-position: center; /* Centra la imagen en el contenedor */
}

.background-bebidas{
  background-image: linear-gradient(rgba(255, 255, 255, 0.749), rgba(223, 223, 223, 0.771)), url("../../../../assets/imagenes/backGrounds/ambar.jpg");
  padding-top: 2rem;
  height: 100vh;
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Cubre todo el espacio disponible */
  background-position: center; /* Centra la imagen en el contenedor */
}

.background-promos{
  background-image: linear-gradient(rgba(38, 38, 38, 0.656), rgba(12, 12, 12, 0.793)), url("../../../../assets/imagenes/backGrounds/doodleblack.jpg");
  padding-top: 2rem;
 /*  height: 100vh; */
 padding-bottom: 5rem;
 padding-top: 3rem;
  
  
  background-position: center; /* Centra la imagen en el contenedor */
}

.cofe-titel{
  font-family: 'Digi';
}

.image-1 {
    position: absolute; /* Posición absoluta */
    top: 13%; /* Distancia desde arriba */
    right: 8%; /* Distancia desde la izquierda */
    z-index: 1; /* Capa más alta para que esté por encima del contenido */
}

.image-2 {
    position: absolute; /* Posición absoluta */
    top: 50%; /* Distancia desde arriba */
    right: 8%; /* Distancia desde la derecha */
    z-index: 1; /* Capa más alta para que esté por encima del contenido */
}


.cafe {
    text-align: left;
  }
  
  .menu-item {
    margin-bottom: 10px;
  }
  
  .item-name {
    text-transform: capitalize;
  }

  .item-name-menu {
    text-transform: uppercase;
  }

  
  .item-price {
    margin-left: 5px;
    color: #ffffff;
    font-weight: bold;    
  }

  .item-price2 {
    margin-left: 5px;
    color: #ffffff; 
  }

  .item-name-bebida {
    text-transform: capitalize;
    color: #000000;
  }

  .item-price-bebida {
    margin-left: 5px;
    color: #000000;
    font-weight: bold;    
  }

  .extras{
    margin-top: 1rem;
    border: 2px dotted #625143; /* ancho y estilo de borde punteado */
    padding-top: 10px; /* espacio interno para mejor visualización */
  }
  
  .extras p{
    font-size: 15px;
  }

  .menu{
    font-family: "Sil";
    font-size: 50px;
    font-weight: bold; 
  }

  .menu-2{
    font-family: "Sil";
    color: #2B2316;
  }
  .menu-precio{
    font-family: "Sil";
    font-weight: bold; 
    font-size: 45px;
    color: #594A47;
  }

  .menus{

    font-family: "Sil";
    font-size: 20px;
    color: #594A47;
  }

  .extras-menu{
    margin: 1rem;
    border: 3px dotted #625143; /* ancho y estilo de borde punteado */
    padding: 10px; /* espacio interno para mejor visualización */
    text-transform: uppercase;
  }
  
  .extras-menu p{
    font-size: 18px;    
  }

  .ensalada{
    font-size: 20px;  
    color: #594A47;  
  }
  .ensaladas{
    padding-top: 1rem;
    font-size: 18px;  
    font-weight: bold;
    color: #594A47;  
  }

  .bebida{
    font-family: "Sil";
    color: #ff9900;
    filter: drop-shadow(1px 1px 1px #636363aa);
  }
  .promos{
    font-family: "Sil";
    color: #ffffff;
    filter: drop-shadow(1px 1px 1px #020202aa);
  }

  .bebida-item {
    margin-bottom: 8px;
    font-family: "Sil";
  }

  .menulogo{
    width: 16%;
  }

  .promo-img{
    width: 100%;
    align-content: center;
  }

  .whatsapp-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #25D366;
    color: white;
    text-align: center;
    line-height: 55px;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
  }
  
  .whatsapp-icon {
    width: 40px;
    height: 40px;
  }
  

  @media (max-width: 500px) { 
    
    .menulogo{
      width: 35%;
    }

    .background-cafe{
      padding-top: 1.5rem;
      height: 100vh;
  }

  .background-menu{

    height: 101vh;

}
   
  }


  @media (max-width: 700px) { 
    
    .menulogo{
      width: 35%;
    }

    .background-cafe{
      padding-top: 1.5rem;
      height: 100vh;
  }

  .background-menu{

    height: 102vh;

}

.promo-img{
  width: 100%;
  align-content: center;
}
   
  }
  