@font-face {
    font-family: 'OpenSans';
    src: url("../src/assets/fonts/Open_Sans/OpenSans-VariableFont.ttf");
}
@font-face {
    font-family: 'Sil';
    src: url("../src/assets/fonts/Abyssinica_SIL/AbyssinicaSIL-Regular.ttf");
}

@font-face {
    font-family: 'Digi';
    src: url("../src/assets/fonts/ds_digital/DS-DIGIT.TTF");
}