body{
    background-color: #AB835D;
    background-image:   url("../../../../assets/imagenes/backgroundHome1.png");
  
    
   background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;

}