body{
    background-color: #AB835D;
    background-image:   url("../../../../assets/imagenes/backgroundHome1.png");
  
    
   background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;



}

.custom-shadow {
    text-shadow: 3px 2px 4px rgba(0,0,0,0.5); /* Definición personalizada de sombra */
  }

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    height: 15rem;
    width: 18rem;
  
    background: #ffffff;
    border-radius: 1rem;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
  
    margin: 2rem 2rem 1rem 2rem;
  }

.googleButton {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 170px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(244 244 244);
    border: 0;
  
    font-family: montserrat-bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 9px;
    line-height: 1;
    color: rgb(150, 150, 150);
  
    margin-bottom: 1rem;
  
    animation: loadingAnimation 1s;
  }
  
  @keyframes loadingAnimation {
    0% {
      opacity: 0%;
      filter: blur(1px);
    }
    100% {
      opacity: 100%;
      filter: blur(0px);
    }
  }